<app-navbar class="position-absolute" [gal] = 'galActive' [est] = 'estActive' [con] = 'conActive'></app-navbar>

<main class="home ms-auto">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/images/LandScape1.jpg" width="100%" height="auto" class="img-fluid">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Natualeza</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
        <img src="../../../assets/images/LandScape2.jpg" width="100%" height="auto" class="img-fluid">
          <div class="container">
            <div class="carousel-caption">
              <h1>Paisajes</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/LandScape3.jpg" width="100%" height="auto" class="img-fluid">
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Prados</h1>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  <div class="container px-4 py-4" id="custom-cards">
    <h2 class="pb-2 border-bottom">Mi Galeria</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pt-5">
        <app-cards
            *ngFor="let photos of cardImages"
            [image] = "photos"
        ></app-cards>
    </div>
  </div>
  </main>